<div class="review-block">
  <div class="container">
    {% if block.settings.title != blank %}
    <h2 class="center">{{block.settings.title}}</h2>
    {% endif %}
    
    <div id="stamped-main-widget" 
      data-widget-style="standard"
      data-take="0" 
      data-product-image="false" 
      data-label-subtitle="{0} Reviews" 
      data-product-id="{{ product.id }}" 
      data-name="{{ product.title | escape }}" 
      data-url="{{ shop.url }}{{ product.url }}"
      data-product-sku="{{product.handle}}"> 
  </div>
  </div>
</div>
